* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 10px auto;
}

header {
  width: 100%;
  padding: 3px;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  background-color: darkslategrey;
}

.main {
  width: 100%;
  padding: 5px;
  display: flex;
}

.checkout {
  width: 30%;
  height: 500px;
  padding: 5px;
}

.menu {
  width: 70%;
  height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drink-list {
  height: 40%;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.selection {
  margin-bottom: 3px;
  font-size: 18px;
}

.type input, .ice input, .sugar input {
  margin-right: 5px;
}

.drink-confirm {
  width: 30%;
  height: 8%;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  background-color: dodgerblue;
  color: aliceblue;
  font-weight: bolder;
}

.checkout-btn {
  width: 80%;
  height: 8%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: dodgerblue;
  color: aliceblue;
  font-weight: bolder;
}